.lh3-chat-widget {
  position: fixed;
  top: 50%;
  right: 15px;
  z-index: 1000;
}

.lh3-chat-header {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.lh3-chat-tooltip {
  position: absolute;
  top: 60px;
  right: 10px;
  width: auto;
  background-color: var(--sys-surface);
  border: 1px solid var(--sys-primary);
  border-radius: 0px;
  color: var(--sys-on-surface);
  padding: 10px;
  text-align: right;
  white-space: nowrap;
  word-wrap: normal;
}

.lh3-chat-tooltip-arrow {
  position: absolute;
  bottom: 0px;
  left: 40px;
  width: 0px;
  border-top: 5px solid var(--sys-primary);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  font-size: 0px;
  line-height: 0;
  transform: rotate(180deg);
}

button.lh3-chat-button {
  background-color: transparent;
  border: none;
  display: block;
  padding: 0;
  position: relative;
  height: 60px;
  width: 60px;
}

button.lh3-chat-button img {
  position: absolute;
  top: 5%;
  right: 0;
  border: 1px solid white;
  border-radius: 8px;
  height: 10px;
  width: 10px;
}

button.lh3-chat-button svg {
  fill: var(--sys-primary);
  padding: 2px 0;
}

.lh3-chat-frame-wrap {
  background-color: var(--sys-surface);
  border: 1px solid var(--sys-primary);
  color: var(--sys-on-surface);
  height: auto;
  width: auto;
  max-height: 95vh;
  max-width: 95vw;
}

.lh3-close-chat-bar {
  background-color: var(--sys-primary);
  color: var(--sys-on-primary);
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: right;
}

.lh3-close-chat {
  background-color: var(--sys-primary);
  border: none;
  color: var(--sys-on-primary);
  cursor: pointer;
  font-size: 1.5rem;
}
